    @charset "shift_jis";

    /*------- ◆ 共通部分 ◆ -------*/

    * {
      font-style: normal;
      margin: 0px;
      padding: 0px;
    }

    a:link {
      color: #004080;
      font-size: 12px;
    }

    a:hover {
      color: #005ebb;
      font-size: 12px;
    }

    a:visited {
      color: #004080;
      font-size: 12px;
    }

    p {
      margin: 20px 0 20px 0;
      line-height: 150%;
      letter-spacing: 1px;
    }

    h1 {
      font-size: 12px;
      margin: 0;
      padding: 2px 3px 0px 3px;
      color: #333;
    }

    /*------- ◆ main 部分 ◆ -------*/

    #main {
      margin: 0 auto 0 auto;
      padding: 0;
      width: 780px;
      border-right: solid 1px #cccccc;
      border-bottom: solid 1px #cccccc;
      border-left: solid 1px #cccccc;
      background-color: #ffffff;
    }

    /*------- ◆ header ◆ -------*/

    #header {
      margin: 0;
      background-color: #999999;
      width: 780px;
    }

    h2 {
      font-size: 12px;
      margin: 0;
      padding: 5px 3px 5px 3px;
      color: #444444;
    }

    #header-inner {
      margin: 0;
      padding: 0;
      color: #333333;
      width: 780px;
      background-color: #ffffff;
      background-repeat: no-repeat;
    }

    #table-left {
      text-align: left;
      margin: 0;
      padding: 10px 0 0 10px;
      font-size: 16px;
      color: #333333;
      line-height: 150%;
      text-decoration: none;
    }

    #table-left a {
      font-size: 16px;
      color: #333333;
      text-decoration: none;
    }

    #table-left a:hover {
      font-size: 16px;
      color: #666666;
      text-decoration: none;
    }

    #table-right {
      text-align: right;
      margin: 0;
      padding: 8px 14px 2px 0;
      font-size: 12px;
      color: #333333;
      line-height: 150%;
      text-decoration: none;
    }

    #table-right a {
      font-size: 12px;
      color: #333333;
      text-decoration: none;
    }

    #table-right a:hover {
      font-size: 12px;
      color: #666666;
      text-decoration: none;
    }

    /*------- ◆ contents ◆ -------*/

    #container {
      margin: 0px;
      padding: 7px 5px 5px 5px;
      width: 760px;
      background-color: #ffffff;
    }

    /*------- ◆ main contents ◆ -------*/

    #contents {
      float: right;
      margin: 5px 0 0 0;
      padding: 0 0 0 6px;
      line-height: 150%;
      letter-spacing: 1px;
      width: 570px;
    }

    #contents img.sample {
      float: left;
      margin: 20px;
    }

    #contents p {
      margin: 18px 0 18px 0;
      padding: 0;
      line-height: 160%;
      letter-spacing: 1px;
    }

    #news {
      width: 558px;
      height: 150px;
      overflow: auto;
      background-color: #ffffff;
      padding: 5px;
      margin: 12px 0 10px 0;
      border-top: 1px;
      border-right: 1px;
      border-bottom: 1px;
      border-left: 1px;
      border-style: solid;
      border-color: #999999;
    }

    /*------- ◆ sidemenu ◆ -------*/

    #sidemenu {
      float: left;
      margin: 0;
      padding: 5px 3px 0 8px;
      width: 160px;
      text-align: left;
      line-height: 180%;
      letter-spacing: 1px;
      background-color: #ffffff;
    }

    #sidemenu p {
      margin: 10px 4px 24px 4px;
      line-height: 180%;
    }

    #sidemenu a {
      color: #004080;
      font-size: 12px;
      line-height: 190%;
    }

    #sidemenu a:hover {
      color: #005ebb;
      font-size: 12px;
      line-height: 190%;
    }

    /*------- ◆ footer ◆ -------*/

    #footer {
      clear: both;
      margin: 0;
      padding: 10px 15px 10px 0;
      text-align: right;
      font-size: 12px;
      color: #666666;
      border-top: solid 2px #999999;
      background-color: #f3f3f3;
    }

    #footer h2 {
      margin: 0;
      text-align: right;
      padding: 2px 8px 0 0;
      font-size: 10px;
      color: #666666;
    }

    #footer h2 a {
      color: #666666;
      font-size: 10px;
    }

    #footer h2 a:hover {
      color: #666666;
    }

    #footer a {
      color: #666666;
      font-size: 12px;
    }

    #footer a:hover {
      color: #333333;
    }
