<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/from_scss.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}></script>
</head>

<style>
    body {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "MS P ゴシック", "MS P Gothic", sans-Serif;
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #333;
        background-image: url(assets/images/back.gif);
        background-repeat: repeat-x;
    }

    #header-menu {
        margin: 0 0 4px 0;
        padding: 0px;
        height: 28px;
        border-top: solid 1px #004080;
        border-bottom: solid 1px #004080;
        background-image: url(assets/images/menu_back.gif);
    }

    #header-menu {
        margin: 0 0 4px 0;
        padding: 0px;
        height: 28px;
        border-top: solid 1px #004080;
        border-bottom: solid 1px #004080;
        background-image: url(images/menu_back.gif);
    }

    #header-menu li {
        list-style-type: none;
        float: left;
    }

    #header-menu li a {
        font-size: 11px;
        width: 100px;
        line-height: 18px;
        color: #fffffc;
        background-image: url(images/menu_back.gif);
        text-align: center;
        display: block;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #004080;
        text-decoration: none;
        padding: 7px 0 3px 0;
    }

    #header-menu li a:hover {
        background-image: url(images/menu_back_hover.gif);
    }


    #header-img {
        margin: 0;
        padding: 0;
        width: 780px;
        height: 180px;
        font-family: Verdana;
        background-image: url(images/main_photo.jpg);
        background-repeat: no-repeat;
    }

    #header-img-sub {
        margin: 0;
        padding: 0;
        width: 780px;
        height: 80px;
        font-family: Verdana;
        background-image: url(images/sub_photo.jpg);
        background-repeat: no-repeat;
    }

    #contents h2 {
        margin: 0;
        padding: 7px 0 12px 15px;
        line-height: 110%;
        font-size: 14px;
        color: #444444;
        background-image: url(images/titlebar.gif);
        background-repeat: no-repeat;
    }

    #sidemenu h2 {
        margin: 0;
        padding: 10px 0 7px 12px;
        line-height: 110%;
        font-size: 12px;
        color: #fffffc;
        background-image: url(images/sidebar.gif);
        background-repeat: no-repeat;
    }

    li {
        list-style-image: url(images/mark.gif);
        margin: 0 0 5px 0;
    }
</style>

<body>

    <!-- メインコンテンツ部分 -->

    <main class="main">

        <!-- メインヘッダー部分 -->

        <div id="header">
            <div id="header-inner">

                <table border="0" align="" cellpadding="0" cellspacing="0" width="780">
                    <tr>
                        <td>
                            <div id="table-left">
                                <h2><a href="http://pieceof.shop/">Welcome to Darkknight Project</a></h2>
                            </div>
                        </td>
                        <td>
                            <div id="table-right">
                                <ol class="breadcrumb-005">
                                    <li><img src="images/icon.gif" alt="icon" border="0" /> <a
                                            href="http://pieceof.shop/">ホーム</a></li>
                                    <li><img src="images/icon.gif" alt="icon" border="0" /> <a
                                            href="https://github.com/takkii">GitHub/ホーム</a></li>
                                    <li><img src="images/icon.gif" alt="icon" border="0" /> <a
                                            href="https://gist.github.com/takkii">Gist/ホーム</a></li>
                                </ol>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <!-- メインヘッダー終わり -->

        <div id="header-menu">
            <ul>
                <li><a href="https://github.com/takkii/golden_eagle/wiki/manual_ja">golden_eagle</a></li>
                <li><a href="https://github.com/takkii/newworld/tree/main/wiki">newworld</a></li>
                <li><a href="https://github.com/takkii/darkknight/tree/main/wiki">darkknight</a></li>
                <li><a href="https://github.com/takkii/json-server/tree/main/wiki">json-server</a></li>
                <li><a href="https://github.com/takkii/.file">.file</a></li>
                <li><a href="https://github.com/takkii/zoltraak">zoltraak</a></li>
            </ul>
        </div>

        <div id="header-img"></div>

        <!-- トップコンテンツ部分 -->

        <!-- コンテンツ内部 -->



        <div id="container">
            <div id="contents">


                <h2>elixir/phoenix</h2>

                <p> 静的サイトです。著作権:<a href="https://simptemp.com/template.html">SimpTemp</a>/CSSテンプレート素材を利用しています。
                </p>

                <h2>派生元プロジェクト</h2>

                <p>overdriveプロジェクトです。コンテンツを差し替えて作り直しています。</p>



                <h2>Gist</h2>

                <p>
                    2026.3 <a
                        href="https://gist.github.com/takkii/3c640ddad08206669f0fd8afa8781341">私のゾルトラークプロジェクト、ロゴの説明</a><br />
                    <img src="images/under_line.gif" alt="" border="0" />
                    2026.1 <a
                        href="https://gist.github.com/takkii/63708d66ba2d41a86dd8e1fda20a79db">VPSにphoenixを設置するとき気をつけたいこと。</a><br />
                    <img src="images/under_line.gif" alt="" border="0" />
                    2026.1 <a
                        href="https://gist.github.com/takkii/f8b037e2d89da71397b8fd4d5d2d84a4">golden-eagleの新機能。</a><br />
                    <img src="images/under_line.gif" alt="" border="0" />
                </p>

            </div>

            <!-- コンテンツ内部 終わり -->

            <!-- サイドメニュー部分 -->

            <div id="sidemenu">

                <h2>GitHub</h2>
                <p>
                    <a href="https://github.com/takkii">takkii</a><br />
                    <a href="https://takkii.github.io/">takkii.github.io</a><br />
                </p>


                <h2>外部サイト</h2>
                <p>
                    <a href="https://gitlab.com/robust-dev">GitLab/robust-dev</a><br />
                    <a href="http://pieceof.shop/">ConohaVPS</a><br />
                    <a href="https://gist.github.com/takkii">Gist/takkii</a><br />
                </p>


            </div>

            <!-- サイドメニュー部分 終わり -->

        </div>

        <!-- トップコンテンツ部分 終わり -->

        <!-- フッター部分 -->

        <div id="footer">
            Copyright &copy 2026 Takayuki Kamiyama / Team 'Red Eyes, Black Dragon.' All Rights
            Reserved.design by <a href="http://simptemp.com">SimpTemp</a>
        </div>

        <!-- フッター部分 終わり -->

        <!-- メインコンテンツ部分 終わり -->
    </main>

</body>

</html>
