<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/from_scss.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}></script>
</head>

<body>

    <!-- メインコンテンツ部分 -->

    <main class="main">

        <!-- メインヘッダー部分 -->

        <div id="header">
            <div id="header-inner">

                <table border="0" align="" cellpadding="0" cellspacing="0" width="780">
                    <tr>
                        <td>
                            <div id="table-left">
                                <h2><a href="http://pieceof.shop/">Welcome to Darkknight Web Sites.</a></h2>
                            </div>
                        </td>
                        <td>
                            <div id="table-right">
                                <ol class="breadcrumb-005">
                                    <li><a href="http://pieceof.shop/"> Home </a></li>
                                    <li><a href="https://github.com/takkii"> GitHub/Home </a></li>
                                    <li><a href="https://gist.github.com/takkii"> Gist/Home </a></li>
                                </ol>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <!-- メインヘッダー終わり -->

        <div id="header-menu">
            <ul>
                <li><a href="https://github.com/takkii/golden_eagle">golden_eagle</a></li>
                <li><a href="https://github.com/takkii/hyokaproject">hyokaproject</a></li>
                <li><a href="https://github.com/takkii/sheltered-girl">sheltered-girl</a></li>
                <li><a href="https://github.com/takkii/purplehaze">purplehaze</a></li>
                <li><a href="https://github.com/takkii/.file">.file</a></li>
                <li><a href="https://github.com/takkii/newworld">/newworld</a></li>
            </ul>
        </div>

        <div id="header-img"></div>

        <!-- トップコンテンツ部分 -->

        <!-- コンテンツ内部 -->



        <div id="container">
            <div id="contents">


                <h2>elixir/phoenix</h2>

                <p> このプロジェクトは、静的サイトです。</p>
                <p>
                    <img src="images/icon.gif" alt="icon" border="0" /> CSSテンプレート素材、著作権:<a href="https://simptemp.com/template.html">SimpTemp</a>を利用しています。
                </p>
                <p>
                    <img src="images/icon.gif" alt="icon" border="0" /> パーツ、著作権:<a href="https://pote-chil.com/css-stock/ja">CSS Stock</a>を利用しています。
                </p>

                <h2>制作物/ライセンス情報</h2>

                <p><img src="images/icon.gif" alt="icon" border="0" /> 2025年まで、「Takayuki Kamiyama」が著作者です。</p>
                <p><img src="images/icon.gif" alt="icon" border="0" /> 2026年から、「Team 'Red Eyes, Black Dragon.」の貢献者が著作権を所持します。</p>

                <h2>更新情報: Gist</h2>

                <p>
                    <img src="images/under_line.gif" alt="" border="0" />
                    2026.6🆕 <a href="https://gist.github.com/takkii/43f20a2b54591c7ecfee26005af63a9e">黒龍の云われ</a>
                    <br />
                </p>

                <p>
                    <img src="images/under_line.gif" alt="" border="0" />
                    2026.3 <a
                        href="https://gist.github.com/takkii/3c640ddad08206669f0fd8afa8781341">私のゾルトラークプロジェクト、ロゴの説明</a>
                    <br />
                </p>
                <p>
                    <img src="images/under_line.gif" alt="" border="0" />
                    2026.1 <a
                        href="https://gist.github.com/takkii/63708d66ba2d41a86dd8e1fda20a79db">VPSにphoenixを設置するとき気をつけたいこと。</a>
                    <br />
                </p>
                <p>
                    <img src="images/under_line.gif" alt="" border="0" />
                    2026.1 <a
                        href="https://gist.github.com/takkii/f8b037e2d89da71397b8fd4d5d2d84a4">golden-eagleの新機能。</a>
                    <br />
                </p>
                <img src="images/under_line.gif" alt="" border="0" />


            </div>

            <!-- コンテンツ内部 終わり -->

            <!-- サイドメニュー部分 -->

            <div id="sidemenu">

                <h2>GitHub</h2>
                <p>
                    <a href="https://github.com/takkii">takkii</a><br />
                    <a href="https://takkii.github.io/">takkii.github.io</a><br />
                </p>


                <h2>外部サイト</h2>
                <p>
                    <a href="https://gist.github.com/takkii">Gist/takkii</a><br />
                    <a href="https://gitlab.com/robust-dev">GitLab/robust-dev</a><br />
                    <a href="http://pieceof.shop/">VPS/WebSites</a><br />
                </p>


            </div>

            <!-- サイドメニュー部分 終わり -->

        </div>

        <!-- トップコンテンツ部分 終わり -->

        <!-- フッター部分 -->

        <div id="footer">
            <p id="cpr">
                <script src={~p"/assets/js/copyright.js"}></script>
            </p>
            <p>All Rights Reserved, Design by <a href="http://simptemp.com">SimpTemp</a>.</p>
        </div>

        <!-- フッター部分 終わり -->

        <!-- メインコンテンツ部分 終わり -->
    </main>

</body>

</html>
